@using ProductionMonitor.Utils;
@using Yearly = ProductionMonitor.Models.YearlyProductivityReportCollection;
@model  dynamic
@{ 
    var Weekly = Model.Weekly as ProductionMonitor.Models.WeeklyProductivityReportCollection;
}

<div class="vp" style="background-image: url('../../Image/Backgrounds/@BackgroundShuffler.GetTodaysBackground()'); background-size:cover; z-index:1;">
    <div class="unit" style="background-color:rgba(3, 117, 175, 0.8);width:33.33vw;height:33.33vh;">
        <div style="position:absolute; left:10%; top:10%; width:80%; height:80%">
            <div class="logo-layer animated-layer" style="position:absolute; width:100%; top:10%">
                <img src="~/Image/fusetech_logo_outlined.png" style="max-width:100%;filter: drop-shadow(3px 3px 5px black);" />
            </div>
            <div style="position:absolute; bottom:10%; width:100%; height:30%">
                <div style="position:absolute; width:100%; height:70%">

                </div>
                <div style="position:absolute; top:90%; width:100%; height:30%; align-content:center; align-items:center; color:white; font-size:4vh">
                    <div id="date" class="neutral-cell" style="position:absolute; width:50%; height:100%; left:0; align-items:center;text-align:center; display:inline-grid; color:aliceblue; font-weight:700;"></div>
                    <div id="time" class="neutral-cell" style="position:absolute; width:50%; height:100%; right:0; align-items:center;text-align:center; display:inline-grid; color:aliceblue; font-weight:700;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vp" style="z-index:2;">

    <div class="column" style="height:66.66%;width:33.33vw;position:absolute;left:0;top:33.333%">

        <div class="unit-head vertical-header-box">
            <p class="vertical-header">FSD</p>
        </div>

        <div style="position:absolute;right:0;width:90%;height:100%">

            <div class="productivity-head" style="height:14.28%;width:28%;">MV00</div>
            <div class="productivity-target" style="height:14.28%;width:18%;">@Yearly.GetProduktivitas("MULTIVERT00")</div>
            @for (int i = 0; i < 3; i++)
            {<div class="productivity-neutral" style="height:14.28%;width:18%;background-color:@Weekly.GetColor("MULTIVERT00", i)">@Weekly.GetProduktivitas("MULTIVERT00", i)</div>}

            <div class="productivity-head" style="height:14.28%;width:28%;">MV1-3</div>
            <div class="productivity-target" style="height:14.28%;width:18%;">@Yearly.GetProduktivitas("MULTIVERT1-3")</div>
            @for (int i = 0; i < 3; i++)
            {<div class="productivity-neutral" style="height:14.28%;width:18%;background-color:@Weekly.GetColor("MULTIVERT1-3", i)">@Weekly.GetProduktivitas("MULTIVERT1-3", i)</div>}

            <div class="productivity-head" style="height:14.28%;width:28%;">MB00</div>
            <div class="productivity-target" style="height:14.28%;width:18%;">@Yearly.GetProduktivitas("MULTIBLOC00")</div>
            @for (int i = 0; i < 3; i++)
            {<div class="productivity-neutral" style="height:14.28%;width:18%;background-color:@Weekly.GetColor("MULTIBLOC00", i)">@Weekly.GetProduktivitas("MULTIBLOC00", i)</div>}

            <div class="productivity-head" style="height:14.28%;width:28%;">MB1-3</div>
            <div class="productivity-target" style="height:14.28%;width:18%;">@Yearly.GetProduktivitas("MULTIBLOC1-3")</div>
            @for (int i = 0; i < 3; i++)
            {<div class="productivity-neutral" style="height:14.28%;width:18%;background-color:@Weekly.GetColor("MULTIBLOC1-3", i)">@Weekly.GetProduktivitas("MULTIBLOC1-3", i)</div>}

            <div class="productivity-head" style="height:14.28%;width:28%;">SPECIAL</div>
            <div class="productivity-target" style="height:14.28%;width:18%;">@Yearly.GetProduktivitas("MV_MB-SPECIAL")</div>
            @for (int i = 0; i < 3; i++)
            {<div class="productivity-neutral" style="height:14.28%;width:18%;background-color:@Weekly.GetColor("MV_MB-SPECIAL", i)">@Weekly.GetProduktivitas("MV_MB-SPECIAL", i)</div>}


            <div class="productivity-head" style="height:14.28%;width:28%">ACCESS</div>
            <div class="productivity-target" style="height:14.28%;width:18%">@Yearly.GetProduktivitas("FSD-ACCESSORIES")</div>
            @for (int i = 0; i < 3; i++)
            {<div class="productivity-neutral" style="height:14.28%;width:18%;background-color:@Weekly.GetColor("FSD-ACCESSORIES", i)">@Weekly.GetProduktivitas("FSD-ACCESSORIES", i)</div>}

            <div class="productivity-head" style="height:14.28%;width:28%">MV1-3-4P</div>
            <div class="productivity-target" style="height:14.28%;width:18%">@Yearly.GetProduktivitas("MULTIVERT1-3-4P")</div>
            @for (int i = 0; i < 3; i++)
            {<div class="productivity-neutral" style="height:14.28%;width:18%;border-bottom:1px solid white;background-color:@Weekly.GetColor("MULTIVERT1-3-4P", i)">@Weekly.GetProduktivitas("MULTIVERT1-3-4P", i)</div>}


        </div>

    </div>

    <div class="column" style="height:33.33vh;width:33.33vw;position:absolute;left:33.33vw;top:0">

        <div class="unit-head vertical-header-box">
            <p class="vertical-header">FSD</p>
        </div>

        <div style="position:absolute;right:0;width:90%;height:100%">

            <div class="productivity-head" style="height:33.33%;width:28%;">FUSEBASE</div>
            <div class="productivity-target" style="height:33.33%;width:18%;">@Yearly.GetProduktivitas("FSD-FUSEBASE")</div>
            @for (int i = 0; i < 3; i++)
            {<div class="productivity-neutral" style="height:33.33%;width:18%;background-color:@Weekly.GetColor("FSD-FUSEBASE", i)">@Weekly.GetProduktivitas("FSD-FUSEBASE", i)</div>}

            <div class="productivity-head" style="height:33.33%;width:28%;border-bottom:1px solid white">HANDLE</div>
            <div class="productivity-target" style="height:33.33%;width:18%;border-bottom:1px solid white">@Yearly.GetProduktivitas("FSD-HANDLE")</div>
            @for (int i = 0; i < 3; i++)
            {<div class="productivity-neutral" style="height:33.33%;width:18%;border-bottom:1px solid white;background-color:@Weekly.GetColor("FSD-HANDLE", i)">@Weekly.GetProduktivitas("FSD-HANDLE", i)</div>}

            <div class="productivity-head" style="height:33.33%;width:28%;">Összesen</div>
            <div class="productivity-target" style="height:33.33%;width:18%;">@Yearly.GetSummedProduktivitas(new string[] { "MULTIVERT00", "MULTIVERT1-3", "MULTIBLOC00", "MULTIBLOC1-3", "MV_MB-SPECIAL", "FSD-ACCESSORIES", "FSD-HANDLE", "FSD-FUSEBASE", "MULTIVERT1-3-4P" })</div>
            @for (int i = 0; i < 3; i++)
            {<div class="productivity-neutral" style="height:33.33%;width:18%;background-color:@Weekly.GetSummedColor(new string[] { "MULTIVERT00", "MULTIVERT1-3", "MULTIBLOC00", "MULTIBLOC1-3", "MV_MB-SPECIAL", "FSD-ACCESSORIES","FSD-HANDLE", "FSD-FUSEBASE", "MULTIVERT1-3-4P" }, i)">@Weekly.GetSummedProduktivitas(new string[] { "MULTIVERT00", "MULTIVERT1-3", "MULTIBLOC00", "MULTIBLOC1-3", "MV_MB-SPECIAL", "FSD-ACCESSORIES" , "FSD-HANDLE", "FSD-FUSEBASE", "MULTIVERT1-3-4P"}, i)</div>}

        </div>

    </div>


    <div class="column" style="height:66.66%;width:33.33vw;position:absolute;left:33.33vw;bottom:0">
        <div class="unit-head vertical-header-box">
            <p class="vertical-header">FUSETECH TOTAL</p>
        </div>

        <div style="position:absolute;right:0;width:90%;height:100%">

            <div class="productivity-head" style="height:16.66%;width:28%">Guba S.</div>
            @*<div class="productivity-target" style="height:20%;width:18%;border-bottom:1px solid white;">@Yearly.GetSummedProduktivitas(StringData.Munkahelyek.Where(x => x != "WASTE" && x != "REWORK" && x != "TROGGER").ToArray(), decimalPlaces: 1)</div>
        @for (int i = 0; i < 3; i++)
        {<div class="productivity-neutral" style="height:20%;width:18%;border-bottom:1px solid white;background-color:@Weekly.GetSummedColor(StringData.Munkahelyek.Where(x=>x!="WASTE" && x!="REWORK" && x!="TROGGER").ToArray(), dayIndex:i)">@Weekly.GetSummedProduktivitas(StringData.Munkahelyek.Where(x => x != "WASTE" && x != "REWORK" && x != "TROGGER").ToArray(), dayIndex: i)</div>}*@

            <div class="productivity-target" style="height:16.66%;width:18%">@Yearly.GetSummedProduktivitas(new string[] { "GCDAN", "LINOCURSZER", "LINOCURALK", "LM4", "SZINTER", "HAL2", "HAL3", "HH", "HH MV EXTRA", "LM1", "LM2", "LM3", "LMA000", "LMM", "LMM4", "LMMHC", "MV", "NH-MERSEN EXTRA", "NH-MSCH EXTRA", "NH-SPEC", "NH-WEBER", "NH-WEBER EXTRA", "OLVADÓSZÁL", "SAJTOLÓ", "SPEC EXTRA", "TSA", "ÁRAMVÁLTÓ", "ÁRAMVÁLTÓ EXTRA" }, decimalPlaces: 1)</div>
            @*@for (int i = 0; i < 3; i++)
        {<div class="productivity-neutral" style="height:20%;width:18%;border-bottom:1px solid white;background-color:@Weekly.GetSummedColor(StringData.Munkahelyek.Where(x=>x!="WASTE" && x!="REWORK" && x!="TROGGER").ToArray(), dayIndex:i)">@Weekly.GetSummedProduktivitas(StringData.Munkahelyek.Where(x => x != "WASTE" && x != "REWORK" && x != "TROGGER").ToArray(), dayIndex: i)</div>}*@

            @for (int i = 0; i < 3; i++)
            {<div class="productivity-neutral" style="height:16.66%;width:18%;background-color:@Weekly.GetSummedColor(new string[] { "GCDAN", "LINOCURSZER", "LINOCURALK", "LM4", "SZINTER", "HAL2", "HAL3", "HH", "HH MV EXTRA", "LM1", "LM2", "LM3", "LMA000", "LMM", "LMM4", "LMMHC", "MV", "NH-MERSEN EXTRA", "NH-MSCH EXTRA", "NH-SPEC", "NH-WEBER", "NH-WEBER EXTRA", "OLVADÓSZÁL", "SAJTOLÓ", "SPEC EXTRA", "TSA", "ÁRAMVÁLTÓ", "ÁRAMVÁLTÓ EXTRA" }, dayIndex:i)">@Weekly.GetSummedProduktivitas(new string[] { "GCDAN", "LINOCURSZER", "LINOCURALK", "LM4", "SZINTER", "HAL2", "HAL3", "HH", "HH MV EXTRA", "LM1", "LM2", "LM3", "LMA000", "LMM", "LMM4", "LMMHC", "MV", "NH-MERSEN EXTRA", "NH-MSCH EXTRA", "NH-SPEC", "NH-WEBER", "NH-WEBER EXTRA", "OLVADÓSZÁL", "SAJTOLÓ", "SPEC EXTRA", "TSA", "ÁRAMVÁLTÓ", "ÁRAMVÁLTÓ EXTRA" }, dayIndex: i)</div>}


            <div class="productivity-head" style="height:16.66%;width:28%;border-bottom:1px solid white">Raktár U</div>
            <div class="productivity-target" style="height:16.66%;width:18%;border-bottom:1px solid white;">@Yearly.GetSummedProduktivitas(new string[] { "MULTIVERT00", "MULTIVERT1-3", "MULTIBLOC00", "MULTIBLOC1-3", "MV_MB-SPECIAL", "FSD-ACCESSORIES", "FSD-HANDLE", "FSD-FUSEBASE", "MULTIVERT1-3-4P" })</div>
            @for (int i = 0; i < 3; i++)
            {<div class="productivity-neutral" style="height:16.66%;width:18%;border-bottom:1px solid white;background-color:@Weekly.GetSummedColor(new string[] { "MULTIVERT00", "MULTIVERT1-3", "MULTIBLOC00", "MULTIBLOC1-3", "MV_MB-SPECIAL", "FSD-ACCESSORIES","FSD-HANDLE", "FSD-FUSEBASE", "MULTIVERT1-3-4P" },i)">@Weekly.GetSummedProduktivitas(new string[] { "MULTIVERT00", "MULTIVERT1-3", "MULTIBLOC00", "MULTIBLOC1-3", "MV_MB-SPECIAL", "FSD-ACCESSORIES", "FSD-HANDLE", "FSD-FUSEBASE", "MULTIVERT1-3-4P" }, i)</div>}

            <div class="productivity-head" style="height:16.66%;width:28%;">Waste</div>
            <div class="productivity-target" style="height:16.66%;width:18%;">@Yearly.GetProduktivitas("WASTE")</div>
            @for (int i = 0; i < 3; i++)
            {<div class="productivity-neutral" style="height:16.66%;width:18%;background-color:@Weekly.GetColor("WASTE", i)">@Weekly.GetProduktivitas("WASTE", i)</div>}

            <div class="productivity-head" style="height:16.66%;width:28%;">Rework</div>
            <div class="productivity-target" style="height:16.66%;width:18%;">@Yearly.GetProduktivitas("REWORK")</div>
            @for (int i = 0; i < 3; i++)
            {<div class="productivity-neutral" style="height:16.66%;width:18%;background-color:@Weekly.GetColor("REWORK", i)">@Weekly.GetProduktivitas("REWORK", i)</div>}

            <div class="productivity-head" style="height:16.66%;width:28%;border-bottom:1px solid white">Trogger</div>
            <div class="productivity-target" style="height:16.66%;width:18%;border-bottom:1px solid white;">@Yearly.GetProduktivitas("TROGGER")</div>
            @for (int i = 0; i < 3; i++)
            {<div class="productivity-neutral" style="height:16.66%;width:18%;border-bottom:1px solid white;background-color:@Weekly.GetColor("TROGGER", i)">@Weekly.GetProduktivitas("TROGGER", i)</div>}

            <div class="productivity-head" style="height:16.66%;width:28%;">Végössz.</div>
            <div class="productivity-target" style="height:16.66%;width:18%;">@Yearly.GetSummedProduktivitas(new string[] { "GCDAN", "LINOCURSZER", "LINOCURALK", "LM4", "SZINTER", "HAL2", "HAL3", "HH", "HH MV EXTRA", "LM1", "LM2", "LM3", "LMA000", "LMM", "LMM4", "LMMHC", "MV", "NH-MERSEN EXTRA", "NH-MSCH EXTRA", "NH-SPEC", "NH-WEBER", "NH-WEBER EXTRA", "OLVADÓSZÁL", "SAJTOLÓ", "SPEC EXTRA", "TSA", "ÁRAMVÁLTÓ", "ÁRAMVÁLTÓ EXTRA","WASTE","TROGGER", "MULTIVERT00", "MULTIVERT1-3", "MULTIBLOC00", "MULTIBLOC1-3", "MV_MB-SPECIAL", "FSD-ACCESSORIES", "FSD-HANDLE", "FSD-FUSEBASE", "MULTIVERT1-3-4P" }, decimalPlaces: 1)</div>
            @for (int i = 0; i < 3; i++)
            {<div class="productivity-neutral" style="height:16.66%;width:18%;background-color:@Weekly.GetSummedColor(new string[] { "GCDAN", "LINOCURSZER", "LINOCURALK", "LM4", "SZINTER", "HAL2", "HAL3", "HH", "HH MV EXTRA", "LM1", "LM2", "LM3", "LMA000", "LMM", "LMM4", "LMMHC", "MV", "NH-MERSEN EXTRA", "NH-MSCH EXTRA", "NH-SPEC", "NH-WEBER", "NH-WEBER EXTRA", "OLVADÓSZÁL", "SAJTOLÓ", "SPEC EXTRA", "TSA", "ÁRAMVÁLTÓ", "ÁRAMVÁLTÓ EXTRA","WASTE","TROGGER","MULTIVERT00", "MULTIVERT1-3", "MULTIBLOC00", "MULTIBLOC1-3", "MV_MB-SPECIAL", "FSD-ACCESSORIES","FSD-HANDLE", "FSD-FUSEBASE", "MULTIVERT1-3-4P" }, dayIndex:i)">@Weekly.GetSummedProduktivitas(new string[] { "GCDAN", "LINOCURSZER", "LINOCURALK", "LM4", "SZINTER", "HAL2", "HAL3", "HH", "HH MV EXTRA", "LM1", "LM2", "LM3", "LMA000", "LMM", "LMM4", "LMMHC", "MV", "NH-MERSEN EXTRA", "NH-MSCH EXTRA", "NH-SPEC", "NH-WEBER", "NH-WEBER EXTRA", "OLVADÓSZÁL", "SAJTOLÓ", "SPEC EXTRA", "TSA", "ÁRAMVÁLTÓ", "ÁRAMVÁLTÓ EXTRA","WASTE","TROGGER", "MULTIVERT00", "MULTIVERT1-3", "MULTIBLOC00", "MULTIBLOC1-3", "MV_MB-SPECIAL", "FSD-ACCESSORIES", "FSD-HANDLE", "FSD-FUSEBASE", "MULTIVERT1-3-4P" }, dayIndex: i, decimalPlaces: 0)</div>}

        </div>
    </div>

</div>
